body{
    background-color: #9A7B4F;
    
    }
.h1 {
        color: #black;
        text-align: center;
    font-family: magnat;
    }
.top-section{
    text-align:justify;
    font-family: 'Times New Roman', Times, serif;

}